* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.link {
  text-decoration: none;
  color: black;
}
.search-filter-container {
  display: flex;
  align-items: center;
  column-gap: 67%;
  padding: 50px;
}
.primary-text {
  font-size: 1.5rem;
  font-weight: 500;
}
.secondary-text {
  font-size: 0.7rem;
  font-weight: 300;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  width: inherit;
  height: 50px;
  align-items: center;
  padding: 0 50px;
  background-color: hsl(0, 0%, 100%);
}
.mode-change {
  display: flex;
}
.input-container {
  column-gap: 10px;
  width: 25%;
  justify-content: flex-start;
  padding: 0 20px;
}
.filter-options {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  border: none;
}
.filter-options option {
  background-color: hsl(0, 0%, 100%);
}
.input-container,
.filter-options {
  display: flex;
  outline: none;
  height: 40px;
  font-size: 0.9rem;
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  align-items: center;
}
.search-icon {
  color: rgb(205, 205, 248);
  margin-right: 10px;
}
.search-input,
.filter-options select {
  font-size: 0.9rem;
  border: none;
  background-color: hsl(0, 0%, 100%);
  outline: none;
}
.cards-container {
  margin: 0 50px;
  display: flex;
  column-gap: 6%;
  flex-wrap: wrap;
  width: inherit;
  row-gap: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 20.5%;
  height: 50%;
  border-radius: 7px;
  column-gap: 10px;
  row-gap: 15px;
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
}
.flag-img {
  width: 100%;
  height: 150px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
}
.country-details-container {
  margin-left: 10px 0 0 8px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0 0 50px 20px;
}
.country-name-text {
  font-size: 0.9rem;
  font-weight: 600;
}
.detail {
  display: flex;
}
.country-details p:nth-child(2n),
.details-col p:nth-child(2n) {
  font-weight: 100 !important;
}
.country-details,
.details-col {
  font-weight: 600;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.options-container {
  width: 30%;
}
.back-btn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}
.back-btn-container {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 30px;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
}
.country-full-detail-container {
  display: flex;
  column-gap: 8%;
  height: 400px;
}
.image-container {
  width: 43%;
  margin-left: 50px;
  height: inherit;
}
.full-details-img {
  width: 100%;
  height: 100%;
}
.full-details-container {
  width: 40%;
  margin-top: 30px;
}
.full-details-container h1 {
  margin: 5% 0;
}
.sub-details {
  display: flex;
  column-gap: 20%;
  margin-bottom: 80px;
  font-size: 0.9rem;
}
.details-col {
  display: flex;
  row-gap: 5%;
  font-size: 0.8rem;
}
.error-text,
.loading-text {
  margin: 10px 0 0 50px;
  font-size: 2rem;
  color: hsl(209, 23%, 22%);
}
.dark {
  background-color: hsl(209, 23%, 22%) !important;
  color: hsl(0, 0%, 98%);
}
.main-dark {
  background-color: hsl(207, 26%, 17%) !important;
  color: hsl(0, 0%, 98%);
}
.align {
  padding: 50px;
}
.full {
  height: 100vh;
}
.each-country-border {
  display: flex;
  column-gap: 20px;
}
.border-btn {
  border: none;
  width: 63px;
  height: 32px;
  cursor: pointer;
}
.align-borders {
  align-items: center;
}
